@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --blue: #37b3ed;
  --black: #444;
  --light-color: #777;
  --bg-color: #e6e6e6;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #ccc inset,
    -0.4rem -0.4rem 1rem #fff inset;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all 0.3s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1.3rem;
}
html::-webkit-scrollbar-track {
  background: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
  background: var(--blue);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--bg-color);
  width: 30rem;
  border-right: var(--border);
  height: 100%;
  padding: 2rem;
  text-align: center;
}

header .userinfo img {
  margin: 1.5rem 0;
  border: 1rem solid transparent;
  border-radius: 50%;
  height: 18rem;
  width: 18rem;
  box-shadow: var(--box-shadow);
}
header .userinfo h3 {
  font-size: 2.5rem;
  color: var(--black);
}
header .userinfo p {
  font-size: 1.7rem;
  color: var(--blue);
}
header .navbar {
  width: 100%;
}

header .navbar {
  padding-top: 1rem;
}
header .navbar ul {
  list-style: none;
}
header .navbar a {
  display: block;
  margin: 1.5rem 0;
  padding: 0.7rem;
  border-radius: 5rem;
  font-size: 2rem;
  box-shadow: var(--box-shadow);
  color: var(--black);
}

header .navbar a:hover {
  box-shadow: var(--box-shadow-inset);
  color: var(--blue);
}
